@use 'sass:map';
@use '@db/styles/abstracts' as *;

.input-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.input {
    --max-width: 257px;
    --min-height: 50px;

    min-height: var(--min-height);
    max-width: var(--max-width);

    padding: 15px 0px 13px 16px;
    border: $input-border-size solid $input-border-color-normal;
    border-radius: $input-border-radius;

    font-size: $fs-150;
    font-weight: $fw-400;
    font-family: $input-font-family;
    font-size: 18px;
    transition: ease-out 200ms;

    &-label {
        font-size: 13px;
        font-weight: $input-label-weight;
        color: $input-label-color;

        &-disabled {
            color: $input-label-color-disabled;
        }
    }

    &::placeholder {
        line-height: 21.6px;
        color: $input-placeholder-color-normal;
    }

    &:hover {
        border-color: $input-border-color-hover;
        outline: none;

        &::placeholder {
            color: $input-placeholder-color-hover;
            font-weight: 400;
        }
    }

    &:is(:focus, :active) {
        border-color: $input-border-color-active;
        outline: none;

        &::placeholder {
            color: $input-placeholder-color-active;
        }
    }

    &:disabled {
        border-color: $input-border-color-disabled;
        background-color: $input-bg-color-disabled;
        color: $input-placeholder-color-disabled;
        cursor: not-allowed;
    }

    &-error {
        border-color: $input-border-color-error;
        color: $input-placeholder-color-error;

        &:is(:focus, :active, :hover) {
            border-color: $input-border-color-error;
            outline: none;

            &::placeholder {
                color: $input-placeholder-color-active;
            }
        }
    }
}