@use '../colors' as *;
@use '../sizes' as *;
@use '../typography' as *;

$text-area-normal-border-color: $clr-neutral-200;
$text-area-border-size: 1px;
$text-area-border-radius: $size-3;

//Font
$text-area-font-weight: $fw-400;
$text-area-font-family: $ff-system;
$text-area-color-size: $size-3;
$text-area-text-transform: none;
$text-area-text-decoration: none;

//Placeholder
$text-area-placeholder-color-normal: $clr-neutral-600;
$text-area-placeholder-color-active: $clr-neutral-900;
$text-area-placeholder-font-size: $fs-500;
$text-area-placeholder-font-weight: $fw-400;

//CharsCount
$text-area-chars-count-color: $clr-neutral-600;
$text-area-chars-count-size: $size-3;

//Hover
$text-area-hover-border: $text-area-border-size solid $clr-neutral-600;
$text-area-hover-color: $clr-neutral-600;

//Active
$text-area-border-active: $text-area-border-size solid $clr-accent-400;
$text-area-color-active: $clr-neutral-900;

//Error
$text-area-border-error: $text-area-border-size solid $clr-danger-400;
$text-area-color-error-normal: $clr-neutral-600;
$text-area-color-error-active: $clr-neutral-900;
