@use 'sass:map';
@use '@db/styles/abstracts' as *;

.table-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $table-cell-font-size;
  font-weight: $table-cell-font-weight;
  line-height: $table-cell-font-line-height;
  color: $table-cell-font-color;
  margin-bottom: 50px;

  &--light {
    &.padding-headline {
      border-bottom: $table-cell-border-bottom-size-headline solid
        $table-cell-border-bottom-color-headline;
    }
    &.padding-text {
      border-bottom: $table-cell-border-bottom-size-default solid
        $table-cell-border-bottom-color-default;
    }
    &.padding-status {
      border-bottom: $table-cell-border-bottom-size-default solid
        $table-cell-border-bottom-color-default;
    }
    &.padding-button {
      border-bottom: $table-cell-border-bottom-size-default solid
        $table-cell-border-bottom-color-default;
    }
  }
  &--dark {
    background-color: $table-cell-bg-color-dark;
    color: $table-cell-font-color-dark;
    border-bottom: $table-cell-border-bottom-size-default solid $table-cell-border-bottom-color-dark;
  }
  &.padding-headline {
    padding: $table-cell-padding-headline;
  }

  &.padding-text {
    padding: $table-cell-padding-text;
  }

  &.padding-status {
    padding: $table-cell-padding-status;
  }

  &.padding-button {
    padding: $table-cell-padding-button;
  }
}
