@use 'sass:map';
@use '@db/styles/abstracts' as *;

.table-cell-text {
  display: flex;
  align-items: center;
  text-align: center;
  position: relative;
  min-width: 102px;
  .text {
    font-size: 16px;
    line-height: 19px;
  }
  .table-cell-dropdown {
    position: relative;
    cursor: pointer;
    padding-bottom: 8px;
    border-radius: 4px;
    font-size: 16px;
    border: none;
    background: #fff;
    color: #010e15;
  }
  .text-with-icon {
    display: flex;
    align-items: center;
  }

  .text {
    margin-right: 14px; /* Расстояние между текстом и иконкой */
  }

  .icon {
    background-color: #fff;
    color: #010e15;
    width: 16px;
    height: 16px;
  }

  .dropdown-item {
    width: 256px;
    padding-bottom: 4px;
    font-size: 16px;
    color: #000;
    cursor: pointer;

    &:hover {
      background: #e5f5fc;
    }

    &.dropdown-item-selected {
      background: #e5f5fc;
    }
  }
}
