@use '../colors' as *;
@use '../sizes' as *;
@use '../typography' as *;

//size
$radio-checkbox-size-min: $size-4;
$radio-checkbox-size-max: $size-6;
$radio-checkbox-border-radius: $size-3;

//padding
$radio-checkbox-paddings-min: 4px;
$radio-checkbox-paddings-max: 6px;
//color
$radio-checkbox-checked-color: $clr-accent-400;
$radio-checkbox-unchecked-color: $clr-neutral-100;
$radio-checkbox-border-color: $clr-neutral-200;