@use 'sass:map';
@use '@db/styles/abstracts' as *;

.text-area-container {
  display: flex;
  flex-direction: column;
  position: relative;
  font-family: $text-area-font-family;
  font-weight: $text-area-font-weight;
  position: relative;
}

.text-area {
  box-sizing: border-box;
  min-height: 77px;
  padding: 12px 12px 16px 12px;
  resize: none;
  border-radius: $text-area-border-radius;
  border: $text-area-border-size solid $text-area-normal-border-color;
  transition: border-color 0.3s;
  font-family: $text-area-font-family;
  text-wrap: wrap;
  overflow: hidden;

  &::placeholder {
    color: $text-area-placeholder-color-normal;
    font-weight: $text-area-placeholder-font-weight;
    font-size: $text-area-placeholder-font-size;
  }

  &:hover {
    border: $text-area-hover-border;
  }

  &:is(:active, :focus, :focus-within) {
    outline: none;
    border: $text-area-border-active;
    color: $text-area-color-active;

    &::placeholder {
      color: $text-area-placeholder-color-active;
    }
  }

  &:invalid {
    border: $text-area-border-error;
  }

  &__error {
    border: $text-area-border-error;
    color: $text-area-placeholder-color-active;

    &:is(:active, :focus, :focus-within, :hover) {
      outline: none;
      border: $text-area-border-error;
      color: $text-area-color-error-active;

      &::placeholder {
        color: $text-area-placeholder-color-active;
      }
    }
  }
}

.character-count {
  font-size: $text-area-chars-count-size;
  color: $text-area-chars-count-color;
  text-align: right;
  position: absolute;
  right: 10px;
}

.error-text {
  color: $clr-danger-400;
  margin-top: $size-3;
  font-size: $text-area-color-size;
  text-align: left;
}
