$text-color: #1c1f21;
$font-size-small: 18px;
$font-size-large: 28px;
$line-height-small: 21.6px;
$line-height-large: 36.4px;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
}

.form-container {
  display: flex;
  width: 50vw;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #fff;
}

.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 82%;
  gap: 15px;
}

.title {
  color: $text-color;
  font-size: $font-size-large;
  font-weight: 600;
  line-height: $line-height-large;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-input {
  min-width: 350px;
  margin-bottom: 0px;
}

.inputs-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.inputs-bottom {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.register-button {
  min-width: 350px;
  height: 50px;
  margin-top: 16px;
}

.back-button {
  display: flex;
  align-items: center;
  position: absolute;
  top: -50px;
  left: -10%;
  background: none;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  color: black;
  font-size: $font-size-small;
}

.container {
  position: relative;
}

.form-register-final {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}
.checkbox {
  gap: 8px;
  max-width: 360px;
}
